body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #CEEBEF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.bank-selection:visited {
  background-color: #ffffff;
  text-decoration: none;
}

a.bank-selection:hover {
  border: 1px solid #00B4EF;
  text-decoration: none;
}

.bank-main {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.account {
  border: 3px solid #212c69;
  padding: 5px;
}

.transaction {
  border: 3px solid #212c69;
}

.transaction-column {
  float: left;
  width: 800px;
  padding: 5px 8px 0px 0px;
}

.transaction-column-amount {
  padding: 8px 8px 8px 0px;
  text-align: right;
}

input[type=text] {
  display: block;
}

input[type=button], input[type=submit] {
  background-color: #00B4EF;
  color: rgba(255, 255, 255, 0.884);
  margin: 3px 8px 0px 0px;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor:pointer;
}

input[type=button]:hover, input[type=submit]:hover {
  cursor:pointer;
}
